/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
app/storage/
bootstrap/compiled.php

# Laravel 5 & Lumen specific
public/css
public/fonts
public/js
public/hot
public/storage

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

/.vagrant
.DS_Store
storage/*.key
Homestead.yaml
Homestead.json
.env
.phpunit.result.cache
